{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/visualize.jQuery.css" media="all">
<style>
table{
	width: 600px;
	border: solid 1px #000000;
	margin: 2em;
}
</style>
<script src="{{MEDIA_URL}}js/visualize.jQuery.js"></script>
<script> 
	$(function(){
		$('table.pie').visualize({type: 'pie', pieMargin: 10});
		$('table.line').visualize({type: 'line'});
	});
</script>
{% endblock %}

{% block content_title %}
	{% if source %}
<h2>Stream</h2>
	{% else %}
<h2>Stream Stats</h2>
	{% endif %}
{% endblock %}

{% block content %}
<table class="pie">
	<caption>Stream Entries by Source for {{ date|date:"F Y" }}</caption>
	<thead>
		<tr>
			<td>&nbsp;</td>
			<th scope="col">Count</th>
		</tr>
	</thead>
	<tbody>
	{% for ddict in month_data %}
		<tr>
			<th scope="row">{{ ddict.source__name }}</th>
			<td>{{ ddict.count }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
<table class="line">
	<caption>Stream Entries by Day for {{ date|date:"F Y" }}</caption>
	<thead>
		<tr>
			<td>&nbsp;</td>
	{% for day in day_range %}
			<th scope="col">{{ forloop.counter }}</th>
	{% endfor %}
		</tr>
	</thead>
	<tbody>
	{% for source_name, days in day_data.items %}
		<tr>
			<th scope="row">{{ source_name }}</td>
		{% for day, count in days.items %}
			<td>{{ count }}</td>
		{% endfor %}
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}